
header {
  background: linear-gradient(
    to bottom,          
    #028118,        
    #c2c21b,           
    #d62828            
  );
  color: rgb(8, 8, 8);        
  padding: 20px;
  text-align: center;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px
  
}

header {
  margin: 0;
  font-size: 1.5em;
  min-height:50px;
}



body {
  background-color: #e2f863;
  font-family: Arial, sans-serif;
  color: #222;
  margin-left: 50px;
  margin-right: 50px;
}



nav a {
  color: #050400;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

img {
  border-radius: 8px;
  margin-top: 20px;
}

footer {
  background: linear-gradient(
    to top,          
    #028118,         
    #c2c21b,           
    #d62828            
  );
  color: rgba(22, 21, 21, 0.76);
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px
}
